<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancyliu.mybatisplusdemo.generator.demo.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancyliu.mybatisplusdemo.generator.demo.entity.Student">
        <id property="id" column="id" jdbcType="LONG"/>
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="grade_id" property="gradeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, grade_id
    </sql>

</mapper>
