<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyenno.ngs.system.sys.mapper.UserGroupUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gyenno.ngs.system.sys.entity.UserGroupUser">
        <id column="id" property="id" />
        <result column="user_group_id" property="userGroupId" />
        <result column="gyenno_id" property="gyennoId" />
        <result column="app_id" property="appId" />
        <result column="audit_status" property="auditStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_group_id, gyenno_id, app_id, audit_status, create_time, update_time, is_deleted
    </sql>

</mapper>
